<nav class="navbar navbar-expand-lg">
  <div class="botones col-md-4">
    <a class="nav-link" routerLink="/landing">HOME</a>
    <a class="nav-link" routerLink="/services">Services</a>
    <a class="nav-link" routerLink="/workers">Workers</a>
    <a class="nav-link" routerLink="/users">Users</a>

  </div>
  <div class="logo col-md-4">
    <img class="mx-auto d-block" src="../../../assets/images/logo.png" alt="Logo"/>

  </div>
  <div class="login col-md-4 text-right">
    <a class="nav-link" routerLink="/workers">Ingresar</a>
  </div>
</nav>
