
<div class="mitad float-left">
  <h2>Users</h2>
  <a (click)="openAdd()" class="badge badge-primary badge-pill hover add">+ Add</a>
  <table class="lista table table-bordered table-striped text-center">
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Cost</td>
      <td>Actions</td>
    </tr>
    <tr *ngFor="let user of listUser">
      <td>{{user.userPK}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.document}}</td>
      <td>{{user.rolesFK}}</td>
      <td>
        <a (click)="openEdit(user)" class="badge badge-primary badge-pill hover edit">Edit</a>
        <a (click)="delete(user)" class="badge badge-primary badge-pill hover delete">Delete</a>
      </td>
    </tr>
  </table>
</div>

<div class="mitad float-right">
  <app-users-edit *ngIf="showEdit" [user]="user"></app-users-edit>
  <app-users-add *ngIf="showAdd"></app-users-add>
</div>
