<h2>Edit service</h2>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="service.name"
           type="text"
           class="form-control form"
           id="name" name="name"
           placeholder="Insert the name">
  </div>

  <div class="form-group">
    <label for="cost">Cost</label>
    <input [(ngModel)]="service.cost"
           type="text"
           class="form-control form"
           id="cost" name="cost"
           placeholder="Insert the cost">
  </div>

  <button type="submit" class="btn btn-primary" (click)="edit(service)">Edit</button>
</form>
